[buildout]

parts = 
    prototyping
    tests

develop =
    src/autoprint
    src/autoprint.jira
    
[tests]
recipe = zc.recipe.egg
eggs =
    autoprint
    autoprint.jira
    nose
    
dependent-scripts = true
    
[prototyping]
recipe = minitage.recipe:scripts
eggs = 
    reportlab
    pycups
    ipython
    ipdb
    Twisted
    pylint
    Pillow
    feedparser
    pypdf
    pyopenssl
    svglib
    zope.component
    zope.schema
    jinja2
    colander
    
dependent-scripts = true
extra-paths = 
    ${buildout:directory}/prototypes
